section{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

header {
    padding-top: 20px;
}

pre.slogan{
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    color: white;
    text-align: center;
}

#slogan1{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
}

#chip{
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80");
}



