body{
    margin:0;
    padding: 0;
}
header{
    box-sizing: border-box;
    background-color: #24252A;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 30px 10%;
}
li, a{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}
.card{
    background-color: #24252A;
    box-shadow: 0 5px 10px #FF5733;
    border-radius: 10px;
    padding: 20px;
    font-family: sans-serif;
    background: url(https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.card-title{
    font-size: 20px;
    text-align: center;
    color: black;
}
.card-text{
    font-size: 15px;
    color: black;
}
.image{
    background: url(https://images.pexels.com/photos/1114690/pexels-photo-1114690.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    background-size: cover;
}

  .about img {
    height: 550px;
    margin: 10px 30px;
  
  }
  
  .about h1 {
    text-align: center;
    font-size: 55px;
    margin-left: 10%;
    color: white;
  }
  
  .about-text {
    font-size: 35px;
    text-align: left;
    padding: 15px 30px;
    margin-left: 45%;
    color: white;
  }
  .about{
      background-image: url(https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80);
  }
  header {
    width: 100%;
    height: 200px;
    background-color: white;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    text-align: center;
}
section.heding1 {
    width: 100%;
    height: 80px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
section.heding1 a.name {
    color: inherit;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    text-decoration: none;
}
section.pustoi{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
section.heding2{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
}
section.heding2-1 {
    width: 60%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}
.glav{
    color: grey;
    text-decoration: none;
}

#QWE{
    color: white;
    cursor: pointer;
}

div.Question{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 200px;
    position: relative;
    float: left;
}

div.Contacts{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px;
    float: left;

}


div.Form{
    position: static;
    display: inline-block;
    width: 50%;
    padding: 80px 100px;
    align-items: center;



}
input.name{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid black;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 40%;
    height: 42px;
    position: relative;
    margin: 0px 0px 10px 0;
    font-weight: bolder;
}
input.tema{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 80%;
    height: 42px;
    position: relative;
    margin: 0px 0px 10px 0;
    font-weight: bolder;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid black;
}

a.glav:hover{
    background-color: black;
    color: white;
    transition: 1.30s;
}

textarea{
    padding-left: 16px;
    padding-right: 10px;
    text-align: left;
    font: normal normal normal 15px/1.875em 'montserrat',sans-serif;
    resize: none;
    padding: 3px;
    height: 150px;
    margin: 0;
    padding-top: 0.75em;
    width: 80%;
    font-weight: bolder;
    overflow-y: auto;
    flex: 1;
    text-transform: none;
    display: inline-block;
    flex-direction: column;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid black;
}

button.Send{
    background-color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: 80%;
    height: 50px;
    position: relative;
    margin: 0px 0px 20px 0;
    font-weight: bolder;
}

button.Send:hover{
    opacity: 0.7;
}

